thead, tbody{
    background-color: white;
    border-radius: 2rem;
    color:#666;
    margin-top: 2rem;
    align-items: center;
}

tr{
    margin-top: 5px;
    cursor: pointer;
}

.custom-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4E73F8;
    margin-right: 10px;
}

.array-dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #757D8A;
    margin-right: 2px;
}

.status-poi{
    font-size:20px;
    margin-left: -0.5em !important;
    margin-bottom: 0.1em;
}

.viewBtnStyle:hover{
    background-color: #F8F8F8;
}

.store_structure_nav{
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    margin-right: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
}

.edit-profile-container {
    position: relative;
  }
  
  .edit-profile-container .edit-profile-image {
    position: relative;
    width: 200px;
    display: flex;
    justify-content: center;
  }
  
  .edit-profile-container .edit-profile-image .item-image {
    height: 160px;
    width: 160px;
    border-radius: 360px;
  }
  
  .edit-profile-container .edit-profile-image .common-button {
    position: absolute;
    right: 0;
    top: 30px;
  }
  
  .edit-profile-container .edit-profile-image .common-button .button-image {
    outline: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
  }
  
  .edit-profile-container .edit-profile-image .common-button .image-button-img {
    height: 30px;
    width: 30px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }